<?xml version="1.0"?>
<launch>
    <!-- Start the front camera driver  -->
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch" ns="front">
        <arg name="tf_prefix" value="front" />
        <arg name="overwrite_robot_description" value="false" />
        <arg name="sensor_sn" value="000436194512" />
        <arg name="point_cloud_in_depth_frame" value="true" />
        <arg name="body_tracking_enabled" value="true"/>
    </include>

</launch>
