<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find comanip_description)/urdf/structure/j2s7s300/j2s7s300.xacro"/>

  <!-- Xacro properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="arm_j2s7s300" params="prefix">
    <link name="${prefix}root"/>

    <!-- for gazebo -->
    <link name="world"/>
    
    <joint name="connect_root_and_world" type="fixed">
      <child link="${prefix}root" />
      <parent link="world" />
      <origin xyz="0 0 0" rpy="0 0 0" />    
    </joint> 

    <xacro:property name="robot_root" value="${prefix}root" />

    <xacro:j2s7s300  base_parent="${robot_root}"/>
  </xacro:macro>
</robot>
